
<h1 style="margin-top:180px">Todo List</h1>

<ol>

    <li style="text-decoration: line-through">Layout template</li>
    <li style="text-decoration: line-through">Routing</li>
    <li style="text-decoration: line-through">Bring in the API</li>
    <ul>

        <li style="text-decoration: line-through">format the styling right</li>
        <li style="text-decoration: line-through">add a search bar</li>
        <li style="text-decoration: line-through">verify the search parameter works</li>
    </ul>
    <li style="text-decoration: line-through">Create 2 models</li>
    <li style="text-decoration: line-through">Implement CRUD functions for favorites</li>
    <ul>

        <li style="text-decoration: line-through">Create a favorite</li>
        <li style="text-decoration: line-through">See all favorites</li>
        <li style="text-decoration: line-through">update a favorite</li>
        <li style="text-decoration: line-through">delete a favorite</li>
    </ul>
    <li>create the readme</li>
    <li>Host the thing</li>
    <li>Have it work on Anthonys local</li>
</ol>